h1 {
  font-size: 35px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: capitalize;
  margin: 20px auto;
}
#wrapper h2 {
  /* float: left; */
  width: fit-content;
  max-width: 90%;
  box-sizing: border-box;
  display: block;
  margin: 20px 20px;
  padding: 0px 20px 10px 10px;
  letter-spacing: 4px;
  font-size: x-large;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 2px solid currentColor;
}
h3 {
  text-align: left;
  width: fit-content;
  /* border-bottom: 2px solid currentColor; */
  padding:10px;
  text-transform: capitalize;
  margin: 10px 18px;
  letter-spacing: 1px;
  font-size: 20px;
}
h4 {
  text-align: left;
  text-transform: capitalize;
  margin: 10px 18px;
  letter-spacing: 1px;
  font-size: 18px;
}
ul {
  list-style: disc inside none;
  color: white;
  text-decoration: none;
  padding: 20px;
  padding-top: 0px;
  text-align: left;
}
li {
  margin-top: 30px;
  margin-left: 20px;
}

#wrapper {
  width: fit-content;
  max-width: 500px;
  min-width: 330px;
  border-radius: 8px;
  min-height: 500px;
  margin: 50px auto;
  display: none;
  visibility: hidden;
  box-shadow: 0 0 12px 12px white;

  /*height:80vh;
    background-color: rgba(245 ,222 , 179 , 0.9);*/
  background-color: rgba(27, 31, 34, 0.7);
  text-align: center;
  padding: 20px 10px 0 10px;
  color: white;
}

body {
  width: 100vw;

  min-height: 100vh;
  height: auto;
  margin: auto;
  background-color: rgba(10, 9, 10, 0.918);
  /* background-image: url(../../images/bg.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
#headermain {
  width: 50%;
  max-width: 470px;
  min-height: 400px;
  min-width: 370px;
  margin: 10% auto;
  text-align: center;
  display: none;
  visibility: hidden;
}
#logo {
  margin: auto;
  padding: auto;
  display: block;
  box-shadow: 0px 0px 9px 2px whitesmoke;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 40px;
  color: white;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}
#headermain h1 {
  font-size: xx-large;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-top: 30px;
}
#headermain ul {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  display: inline-block;
  text-transform: capitalize;
  line-height: 40px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 9px 2px whitesmoke; */
  border-style: solid;
  border-color: white;
  border-width: 1.5px;
  overflow: hidden;
}
#headermain ul li {
  content: none;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: background-color 0.25s ease-in-out;
}
#headermain ul :not(:last-child) {
  border-right: solid 1.5px white;
}
#headermain ul li:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
#headermain ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: larger;
  padding: 8px 8px 8px 8px;
}

#contentinner {
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  color: #ffffff;
  border-top: solid 2px;
  border-bottom: solid 2px;
  line-height: 40px;
}
#contentinner p {
  text-transform: capitalize;
  letter-spacing: 2px;
}

#content {
  display: block;
}
#content::before {
  content: "";
  margin: auto;
  height: 80px;
  color: #ffffff;
  display: block;
  border-left: solid 2px white;
  width: 0px;
}
#content::after {
  content: "";
  margin: auto;
  height: 80px;
  color: #ffffff;
  display: block;
  border-left: solid 2px white;
  width: 0px;
}
#mainbuttons {
  width: 100%;
  height: 30px;
  display: block;
  margin: 2px;
  margin-bottom: 4px;
  padding: auto;
}
#back a {
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  color: white;
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
  transition: transform 0.25s ease-in-out;
}
#back a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.2);
}
#close a {
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  color: white;
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
  transition: transform 0.25s ease-in-out;
}
#close a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.2);
}



.sections {
  width: 100%;

  display: none;
  padding: 5px 0px 0px 0px;
  visibility: hidden;
  box-sizing: border-box;
}
.sections p:first-child {
  margin-top: 20px;
}
.sections p {
  text-decoration: none;
  display: inline-block;
  margin: 10px 30px 10px 30px;
  letter-spacing: 1px;
  text-align: left;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 18px;
  font-size: 13px;
}

.sections p:last-child {
  margin-bottom: 20px;
}

.sections a {
  text-decoration: underline;
  color: white;
}

#avtar {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 10px auto;
  padding-top: 0px;
}
#avtar img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  text-align: center;
  display: block;
  margin: 10px auto;
  border-color: #ffffff;
  box-shadow: 0 0 8px 4px rgb(250, 205, 137, 1);
  /* border :2px solid rgb(200, 70, 0); */
  transition: transform 0.25s ease-in-out, border-radius 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;
}

#avtar img:hover {
  margin: 10px auto;
  transform: scale(1.1);
  /*border-radius: 0;*/
  box-shadow: 0 0 8px 4px rgb(255, 205, 255);
}
#contact ul {
  text-align: center;
  margin: auto;
  padding-top: 20px;
}
#contact h3{
  text-align: center;
  margin:auto;
  border:none;

}
#contact ul li {
  width: 35px;
  line-height: 35px;
  height: 35px;
  display: inline-block;
  margin: 0 5px;
  border-radius: 100%;
}

#contact ul li a {
  border-radius: 100%;
  box-shadow: inset 0 0 2px 2px white;
  text-decoration: none;
  color: white;
  display: block;
  transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
}
#contact ul li a:hover {
  color: rgb(250, 205, 137);
  box-shadow: inset 0 0 2px 2px red;
  transform: scale(1.3);
  background-color: #fa75ba;
}

.imagemain {
  margin: 0;
  display: block;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.imagemain img {
  width: 100%;
  border-radius: 8px;
  /* box-shadow:  0px 0px 5px 5px rgba(255, 255, 255, 0.308); */

}

#footer {
  color: white;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  margin-top: 10px; /* although no use because collapsable margins*/
  margin-bottom: 8px;
}

@media only screen and (max-width: 795px) {
  #headermain ul li {
    display: block;
    width: 100%;
  }
  #headermain ul li:not(:last-child) {
    content: " ";
    border-bottom: solid 1.5px white;
    border-right: none;
  }

  #headermain h2 {
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #headermain {
    min-width: 310px; /* just specifying that it can  decrase the width it doesnt have to fit all text in one line*/
    width: auto;
  }
  body {
    padding: 20px;
    height: min-content;
    width: fit-content;
  }
  #content::before {
    height: 35px;
  }
  #content::after {
    height: 35px;
  }
  #wrapper {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 380px) {
  #wrapper {
    margin-top: 0;
  }
}
