h2 {
  font-size: 35px;
  letter-spacing: 3px;
}

#wrapper {
  width: 80%;
  max-width: 500px;
  min-width: 380px;
  border-radius: 8px;
  min-height: 500px;
  margin: 50px auto;
  display: none;
  visibility: hidden;
  /*height:80vh;
    background-color: rgba(245 ,222 , 179 , 0.9);*/
  background-color: rgba(27, 31, 34, 0.7);
  text-align: center;
  padding: 20px 0 0 0;
  color: white;
}

body {
  background-color: pink;
  background-image: url(../../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
}
#headermain {
  width: 50%;
  max-width: 470px;
  min-height: 400px;
  min-width: 370px;
  margin: 10% auto;
  text-align: center;
  display: block;
  visibility: visible;
}
#logo {
  margin: auto;
  padding: auto;
  display: block;

  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 40px;
  color: white;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}
#headermain h1 {
  font-size: xx-large;
  letter-spacing: 10px;
  margin-top: 30px;
}
#headermain ul {
  margin: 4px auto;
  padding: 0;
  text-align: center;
  display: inline-block;
  text-transform: capitalize;
  line-height: 40px;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  border-width: 1.5px;
  overflow: hidden;
}
#headermain ul li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: background-color 0.25s ease-in-out;
}
#headermain ul :not(:last-child) {
  content: " ";
  border-right: solid 1.5px white;
}
#headermain ul li:hover {
  content: " ";
  background-color: rgba(255, 255, 255, 0.7);
}
#headermain ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: larger;
  padding: 8px 8px 8px 8px;
}

#contentinner {
  display: block;
  width: 100%;
  margin: 80px 0px 80px 0px;
  text-align: center;
  box-sizing: border-box;
  color: #ffffff;
  border-top: solid 2px;
  border-bottom: solid 2px;
  line-height: 40px;
}
#content {
  display: block;
}
/* #content ::before{
    content: '';
    color: #ffffff;
    display:block;
    border-color:#ffffff;
    border-width:1.5px;
    border-style: solid;
    width: 1px;
} */
#mainbuttons {
  width: 100%;
  height: 30px;
  display: block;
  margin: 2px;
  padding: auto;
}
#back a {
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  color: white;
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
  transition: transform 0.25s ease-in-out;
}
#back a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.2);
}
#close a {
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  color: white;
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
  transition: transform 0.25s ease-in-out;
}
#close a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.2);
}
#contact {
  width: 100%;
  display: block;
  margin: 10px auto;
  visibility: hidden;
}
#contact h1 {
  float: left;
  box-sizing: border-box;
  display: block;
  margin: 20px 40px 20px 25px;
  padding: 0px 20px 10px 10px;
  letter-spacing: 4px;
  font-size: x-large;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 2px solid currentColor;
}
#contact h2 {
  text-align: center;
  text-transform: capitalize;
  margin: 20px auto;
}
#contact h3 {
  text-align: center;
  text-transform: capitalize;
  margin: 10px auto;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 20px;
}
#avtar {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 10px auto;
  padding-top: 0px;
}
#contact img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  text-align: center;
  display: block;
  margin: 10px auto;
  border-color: #ffffff;
  box-shadow: 0 0 8px 4px rgb(250, 205, 137, 1);
  /* border :2px solid rgb(200, 70, 0); */
  transition: transform 0.25s ease-in-out, border-radius 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;
}

#contact img:hover {
  margin: 10px auto;
  transform: scale(1.1);
  /*border-radius: 0;*/
  box-shadow: 0 0 8px 4px rgb(255, 205, 255);
}
#contact ul {
  list-style: none;
  text-decoration: none;
  padding: 50px;
  margin: auto;
  text-align: center;
}
#contact ul li {
  width: 35px;
  line-height: 35px;
  height: 35px;
  display: inline-block;
  margin: 0 5px;
  border-radius: 100%;
}

#contact ul li a {
  border-radius: 100%;
  box-shadow: inset 0 0 2px 2px white;
  text-decoration: none;
  color: white;
  display: block;
  transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
}
#contact ul li a:hover {
  color: rgb(250, 205, 137);
  box-shadow: inset 0 0 2px 2px red;
  transform: scale(1.3);
  background-color: #fa75ba;
}

#footer {
  color: white;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  margin-top: 0 auto;
  margin-bottom: 8px;
}

@media only screen and (max-width: 795px) {
  #headermain ul li {
    display: block;
    width: 100%;
  }
  #headermain ul :not(:last-child) {
    content: " ";
    border-bottom: solid 1.5px white;
    border-right: none;
  }
  #contentinner {
    margin-bottom: 40px;
  }
}

@media screen and (orientation: landscape) {
  body {
    background-size: 100% auto;
  }
}
@media screen and (orientation: portrait) {
  body {
    background-size: auto 100vh;
  }
}
